#########################
#	      Autostart	      #
#########################

# Compositor
picom -b &

# Background
~/.fehbg &

# ==> APPLETS <==

# Bluetooth applet
blueman-applet &

# NetworkManager applet
nm-applet --indicator &

# Sound control tray
pasystray &

# Hide mouse when typing
xbanish &

# Flameshot screenshots app
flameshot &

# Redshift
redshift-gtk &

# Auto-mount tool
udiskie &

# Notifications manager
dunst &

# Emacs server
#/usr/bin/emacs --daemon

# Start polkit
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# ==> APPS <==

alacritty &
brave &
obsidian &
thunderbird &
discord &
# telegram &
bitwarden-desktop &
# steam-runtime &
# pcmanfm -d &
# carla &
spotify-launcher &

# Start apps which requires internet connection
# sh ~/.config/qtile/scripts/autostart.sh &

#########################
#	      Tweaks		      #
#########################

# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
xset r rate 210 40

#########################
#	      Configs		      #
#########################

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Zsh config files
# export ZDOTDIR=$HOME/.config/zsh

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="brave"
export SUDO_EDITOR="nvim"
