#########################
#	      Autostart	      #
#########################

# Bluetooth applet
blueman-applet &

# NetworkManager applet
nm-applet --indicator &

# Sound control tray
pasystray &

# Hide mouse when typing
xbanish &

# Flameshot screenshots app
flameshot &

# Audio volume controller
#volnoti &

# Compositor
picom -CGb &

# Redshift
redshift-gtk &

# Apps
alacritty &
brave &
obsidian &
thunderbird &
1password &
pcmanfm &
carla &

~/.fehbg &

#########################
#	      Tweaks		      #
#########################

# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
xset r rate 210 40

#########################
#	      Configs		      #
#########################

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Zsh config files
# export ZDOTDIR=$HOME/.config/zsh

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="brave"
